/* this all css is a  for practicing */
/* i use new form of positioning  and i have ask for more clarification */
body {
  min-height: 100dvh;
  display: grid;
  place-items: center;
  place-content: center;
  flex-direction: column;
  font-family: Libre Franklin;
}

h2 {
  text-align: center;
  margin-top: 30px;
  padding: 0px;
}

span {
  color: blue;
}

h1 {
  text-align: center;
  color: gray;
}

.black {
  color: black;
}

img {
  display: block;
  padding: 5rem;
  width: 25rem;
}

p {
  text-align: center;
  color: black;
  padding: 0px;
}

form {
  display: block;
  width: 34rem;
  /* border: 1px solid red; */
  margin: auto;
}

input {
  width: max(20rem, 8px);
  height: 3em;
  border: 1px solid gray;
  margin-right: 10px;
  border-radius: 2rem;
}

input[placeholder="Your email address..."] {
  padding-left: 20px;
}

button {
  color: white;
  background-color: blue;
  border: none;
  width: 10rem;
  height: 3.5em;
  border-radius: 2rem;
}

nav {
  width: 7rem;
}

i {
  padding: 8px;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border: 0.1px solid rgba(128, 128, 128, 0.171);
}

.Copyright {
  /* text-align: center; */
  color: gray;
}

/* it is not responsive, i will  have to check again😭. */
@media (max-width: 360px) {
  input {
    width: 90%;
    flex-grow: 1;
    height: 3em;
    border: 1px solid gray;
    /* margin-right: 10px; */
    border-radius: 2rem;
  }

  button {
    color: white;
    background-color: blue;
    border: none;
    flex-grow: 3;
    width: 30rem;
    height: 3.5em;
    border-radius: 2rem;
  }
}
